.card-pokemon-container {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  box-shadow: 5px 2px 18px -3px rgba(110, 110, 110, 0.11);
  position: relative;
  margin-top: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/Laboratorio_pokemon.png);
  background-repeat: no-repeat;
  background-position: 80% 0;
  background-size: cover;
}

.poke-img {
  max-width: 70px;
  max-height: 70px;
  margin: auto;
  padding-top: 5px;
  display: block;
}

.poke-name {
  font-family: "Rubik", sans-serif;
  text-decoration: "inherit";
  text-transform: capitalize;
  cursor: pointer;
  color: #ffff;
  text-align: center;
  font-size: 16px;
}

.poke-name:hover {
  color: #f6cf3a;
  text-decoration: none;
}

.poke-types {
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  color: #f6cf3a;
  text-decoration: inherit;
  text-align: center;
  margin: auto;
  text-transform: capitalize;
}
