.background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/Pueblo_Paleta_Back.png);
  background-repeat: no-repeat;
  background-position: 70% 0;
  background-size: cover;
  width: 100%;
}

.container-name {
  margin-left: 27%;
  text-align: center;
  text-transform: capitalize;
  font-family: "Rubik", sans-serif;
  color: white;
}

.container-main {
  display: grid;
  grid-template-columns: 2fr 8fr;
  align-items: center;
}

.container-left {
  margin: auto;
  margin-left: 290px;
  text-align: center;
}

.container-left img {
  max-width: 280px;
}

.container-left p {
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 600;
}

.container-right {
  margin-top: 35px;
  text-align: center;
  margin-right: 250px;
}

.container-right h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding: 1px 2px;
  text-transform: capitalize;
}

.container-button {
  width: 100%;
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.button-home {
  padding: 12px 25px 12px 25px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  text-emphasis-color: #ffff;
  background: #1a58a5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 12px;
  margin-left: 6px;
  margin-right: 6px;
  transition: 0.3s ease-in-out;
}

.linked {
  text-decoration: none;
  color: #ffff;
}

.linked:hover {
  color: #f6cf3a;
}
