.nav-container {
  background-color: #f7f7f7;
  border-bottom: #c2bdbd solid 2px;
}

.all-li {
  padding-left: 20px;
  padding-top: 19px;
}

.search-container {
  float: right;
  position: relative;
  top: -25px;
  padding-right: 20px;
}

.link-route {
  display: inline;
  color: #1a58a5;
  padding-left: 10px;
  padding-right: 1px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  font-family: "Rubik", sans-serif;
}

.link-route:hover {
  text-decoration: underline 2px solid;
  text-decoration-color: #f6cf3a;
}

.logo-pokemon {
  position: relative;
  top: -36px;
  max-height: 45px;
  margin-top: 4px;
}

.branding {
  text-align: center;
  margin-bottom: -30px;
}
