.nav-container{
  position: relative;
  width: 100%;
  height: 64px;
  background-color: #f7f7f7;
  border-bottom: #C2BDBD solid 2px;
}


.all-li{
  padding-left: 20px;
  padding-top: 16px;
}

.search-container{
  float: right;
  position: relative;
  top:-48px;
  padding-right: 20px;
}

.link-route{
  display: inline;
  color: #104890;
  padding-left: 10px;
  padding-right: 1px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  font-family: "Rubik", sans-serif;
}

.link-route:hover{
text-decoration: underline 2px solid;
text-decoration-color: #F6CF3A;
}

.logo-pokemon{
  position: relative;
	top:-38px;
  width: 200px;
  height: 70px;
}

.branding{
	text-align:center;
}