.create_container{
    background-image: url(../../assets/Laboratorio_pokemon.png);
    background-repeat: no-repeat;
    background-position: 80% 0;
    background-size: cover;
     align-content: center;
}

.title{
   font-family: "Rubik", sans-serif;
   position: relative;
    align-content: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    padding-top: 16px;
    color:#F6CF3A;
}

.info-form{
    box-shadow: 4px 4px .6em #104890, -5px 0 .6em #F6CF3A;
    margin-top: 2px;
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 2px;
    background: rgba(255, 255, 255, 0.808);
    max-width: 800px;
    height: 335px;
    margin-right: 30%;
    margin-left: 30%;
    padding-bottom: 100px;
}

.input-style{
    width: 180px;
    height: 18px;
    margin-top: -2%;
}

.option-types {
    display: flex;
    justify-content: space-evenly;
}



.btn-create{
    padding: 12px 25px 12px 25px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    color: #FFFF;
    background: #1a58a5;
    margin-left: 45%;
    margin-top: 1.5%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 9px;
    transition: 0.3s ease-in-out;
}

.btn-create:hover{
    color: #F6CF3A;
}

.errors{
    color: red;
    font-size: 10px;
    font-weight: 500;
    position: absolute;
}

