.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gifRocket {
  width: 500px;
  height: 300px;
}

.error {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: "Rubik", sans-serif;
}

.btn-goHome {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  background: #1a58a5;
  border: none;
  cursor: pointer;
  padding: 9px;
  margin-left: 7px;
  transition: 0.3s ease-in-out;
}

.btn-goHome:hover {
  color: #f6cf3a;
}
