.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  border-top: #c2bdbd solid 2px;
  background-color: #ffffff;
  bottom: 0px;
  width: 100%;
  height: 40px;
}
.footer-span {
  font-weight: 500;
  color: #181818;
  margin-top: 10px;
  font-size: 12px;
}
