.footer-container {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: #c2bdbd solid 2px;
  background-color: #ffffff;
  bottom: 0;
  top: 80%;
  width: 100%;
  max-height: 30px;
}
.footer-container p {
  font-weight: 500;
  color: #181818;

  font-size: 11px;
}
