.btn-search {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  background: #1a58a5;
  border: none;
  cursor: pointer;
  padding: 9px;
  margin-left: 7px;
  transition: 0.3s ease-in-out;
}

.btn-search:hover {
  color: #f6cf3a;
}

.input-search {
  width: 230px;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  background: none;
  padding: 9px;
  border: solid 1px;
  border-color: #1a58a5;
  border-radius: 5px;
}

.input-search::placeholder {
  color: #7a7979;
  font-style: italic;
}
