.main-pokemons-card {
  box-sizing: border-box;
  display: grid;
  place-content: right;
  left: -21px;
  grid-template-columns: repeat(6, 11em);
  margin: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.pagination-button {
  padding: 9px 12px 9px 12px;
  font-weight: bold;
  color: #ffff;
  border-color: #1a58a5;
  background-color: #1a58a5;
  border-radius: 8px;
  border: 1px solid;
}

.pagination-button:active {
  border-color: #f6cf3a;
  background-color: #1274ec;
}

.pagination-button:hover {
  color: #f6cf3a;
}

.a {
  margin-right: 25px;
}

.p {
  margin-left: 25px;
}
