  .main-pokemons-card{
    box-sizing: border-box;
  	display: grid;
  	place-content: right;
  	grid-template-columns: repeat(6, 11em);
  	margin: 0;
  	min-height: 65vh;
  }

  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 19px;
}

.pagination-button{
    padding: 9px 12px 9px 12px;
    font-weight:bold;
    color: #FFFF;
    border-color: #1a58a5;
    background-color: #1a58a5;
    border-radius: 8px;
	border: 1px solid;
}

.pagination-button:active{
  border-color: #F6CF3A;
  background-color: #1274ec;
 

}

.pagination-button:hover{
  color: #F6CF3A;
}

.a{
    margin-right: 25px;
}

.p{
    margin-left: 25px;
}

