.landing-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
}

.content{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-start;
    height: 50%;
    width: 90%;
    padding: 12px;
    margin-left: 40px;
}

.title{
  flex-direction: column;
  width: 700px;
  font-size: 48px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  align-self: left;
  margin-top: 180px;
}

.btn{
position: left;
left: 12px;
  border-radius: 10px;
  background-color: #F6CF3A;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  padding: 15px;
  transition: 0.3s ease-in-out;
}

.btn:hover{
        color: #ffffff;
        background: #b81c05;
    }

.img{
  position: absolute;
  top: 26px;
  right: 60px;
  width: 450px;

}